@page "/info/{Id:int}"

<h3>@_products.Name</h3>
<h3>@_products.Description</h3>
<h3>@_products.Category</h3>
<h3>@_products.Cost</h3>
<h3>@_products.SpecialConditions</h3>

@code
{
    [Parameter]
    public int Id { get; set; }

    private AdminManageProductProfile _adminManageProductProfile;
    private ProductAllInfoOutputModel _products;

    public ProductInfo()
    {
        _adminManageProductProfile = new AdminManageProductProfile();
        _products = _adminManageProductProfile.GetProductById(1);
    }
}